# Java
**/target/
**/build/
*.class

### IntelliJ IDEA ###
.idea
*.ipr
!**/src/main/**/out/
!**/src/test/**/out/


# Logs
*.log

# System
.DS_Store
Thumbs.db

# Env files
.env
HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/